<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>logIn</title>
  </head>
  <body id="login">
    <form action="/" method="post">
      <h1>Login</h1>
      <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required />
        <label for="">Password</label>
        <input id="password" type="password" name="password" required />
      </div>
      <button type="submit">Log In</button>
      <p>Or Sign Up By</p>
      <a href="/SignUp">Sign Up</a>
    </form>
  </body>
</html>
